#include <winver.h>

VS_VERSION_INFO    VERSIONINFO 
FILEVERSION        0,0,0,4
PRODUCTVERSION     0,0,0,4
FILEFLAGSMASK      VS_FFI_FILEFLAGSMASK 
FILEFLAGS          0x00000000L
FILEOS             VOS__WINDOWS32
FILETYPE           VFT_APP
FILESUBTYPE        VFT2_UNKNOWN
BEGIN
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0411, 0x04E4
    END
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104E4"
        BEGIN
            VALUE "CompanyName",      "NYAOS.ORG"
            VALUE "FileDescription",  "OLE Library for Lua"
            VALUE "FileVersion",      "0.0.0_4\0"
            VALUE "LegalCopyright",   "Copyright (C) 2015 HAYAMA_Kaoru\0"
            VALUE "OriginalFilename", "NYOLE.DLL\0"
            VALUE "ProductName",      "Nihongo Yet another OLE library for lua\0"
            VALUE "ProductVersion",   "0.0.0_4\0"
        END 
    END
END
